nav{
    position: fixed;
    width: 100vw;
}

.navContainer{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.163);
}

.burger-div{
    width: 20%;
    text-align: center;
}

.navContainer > div:nth-child(2){
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: white;
}

.notification-icon{
    width: 10%;
    text-align: center;
}

.profile-div{
    width: 10%;
    text-align: center;
}

.burgerMenu{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #2c2b2b;
    font-size: 16pt;
    right: 0px;
    transition: 0.5s;
}

.burgerMenu > div{
    height: 20vw;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.burgerMenu > div:hover{
    cursor: pointer;
}

.burgerMenu > div > p:hover{
    color:#4e4e4e;;
}

.burgerMenu > div:first-child > .material-symbols-outlined{
    font-size: 30px;
}

.hideBurger{
    position: fixed;
    right: 500px;
}

.burger-div > .material-symbols-outlined{
    font-size: 30px;
    color: white;
}

.burger-div > .material-symbols-outlined:hover{
    cursor: pointer;
}


.notification-icon > .material-symbols-outlined{
    font-size: 32px;
    color: white;
}

.notification-icon > .material-symbols-outlined:hover{
    cursor: pointer;
}

.profile-div > .material-symbols-outlined{
    font-size: 34px;
    color: white;
}

.profile-div > .material-symbols-outlined:hover{
    cursor: pointer;
}

.notification-box{
    color: white;
    padding: 20px;
    background-color: black;
    max-height: 30vh;
    overflow: scroll;
    transition: 1s;
    position: relative;
    top: 0;
}

.notification-box > div{
    background-color: #3b3a3a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.notification-box > div:hover{
    cursor: pointer;
}

.hideNotifications{
    position: fixed;
    top: -500px;
}