#navigationBack {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, rgb(15, 15, 15), rgba(15, 15, 15, 0)); 
}