#navigationBack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, rgb(15, 15, 15, 0.6), rgba(15, 15, 15, 0)); 
    position: fixed;
    width: 100vw;
}

#navigationBack > div{
    padding: 10px;
    padding-right: 30px;
}

#navigationBack > div:hover{
    cursor: pointer;
}