body {
    margin: 0;
    padding: 0;
}

#renderMoviesWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    background-color: black;
    width: 100%;
    z-index: 3;
}

#movieGridContainer {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     margin: 15px;
}

.movieCard {
    height: 190px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#btnBox {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

