body {
  margin: 0;
}
main {
  width: 100vw;
  overflow: hidden;
  background-color: rgb(15, 15, 15);
  color: white;
}

#popularWrapper {
  display: flex;
  height: 65vh;
  flex-direction: row;
  position: relative;
  /* width: 600vw; */
  /* overflow: scroll; */
}

/* #popularWrapper > div{
  margin-left: 2px;
  margin-right: 2px;
} */

.movieWrapper {
  margin-bottom: 10px;
  margin-left: 3px;
}

.movieDiv {
  margin-right: 6px;
}

#personWrapper {
  /* display: flex; */
  /* flex-direction: row; */
  padding-left: 5px;
}

.personDiv, #addFriendDiv {
  margin: 0px 5px 20px 5px;
}

.imgDiv {
  border: 0.5px solid black;
  border-radius: 50%;
  height: 80px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgDiv:last-child {
  margin: 0px 5px;
}

.nameDiv {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.personBox {
  display: flex;
  overflow: scroll;
  height: 125px;
}

.movieBox {
  display: flex;
  overflow: scroll;
  margin-left: 6px;
}

.titleBox {
  padding: 5px;
  padding-top: 20px;
  font-family: 'Mukta', sans-serif;
  color: #c3c2c2;
}

.titleBox:hover{
  cursor: pointer;
}

.personDiv {

}

.remove {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.movieDiv {
  height: 190px;
  min-width: 120px;
  cursor: pointer;
}

.popularMovie {
  position: absolute;
  height: 65vh;
  min-width: 100vw;
  left: 0px;
  transition: left 1s;
}

.material-symbols-outlined {
  font-size: 35px;
}