#followContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #151515;
    color: white;
    width: 100%;
    overflow: scroll;
    font-family: 'Mukta', sans-serif;
    z-index: 4;
}

.inputBox {
    display: flex;
    margin-bottom: 20px;
    margin-top: 80px;
}

.addInput {
    margin: auto;
    /* width: 90%; */
    padding: 5px;
}

#followWrapper {
    gap: 10px;
    margin: 15px;
}

#following-container{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #151515;
    color: white;
    width: 100%;
    overflow: scroll;
    font-family: 'Mukta', sans-serif;
    z-index: 4;
}

.followWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
}

.followDiv {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 14pt;
    border: 1px solid rgb(78, 78, 78);
}

.img {
    background-color: gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name {
    flex-grow: 1;
    text-align: center;
}

#btnBox {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.nan {
    text-align: center;
}