#movieContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    background-color: #151515;
    color: white;
    font-family: 'Mukta', sans-serif;
}

#movieHeader {
    height: 590px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#iconContainer {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #151515;
    background-image: linear-gradient(to top, rgb(15, 15, 20,0.01), rgb(0, 0, 0));
}

.movieInformation > div {
    padding: 0px 30px;
}

.movieInformation > div > h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13pt;
}

.movieInformation > div > p {
    margin-top: 0px;
}

#reviewContainer{
    /* position: fixed; */
    /* top: 0;
    bottom: 0; */
    overflow: scroll;
    /* background-color: rgba(0, 0, 0, 0.448); */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* align-items: center;
    justify-content: center; */
}

/* #review-box{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
} */

#review-box > div:first-child{
    margin: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#review-input{
    height: 40px;
    margin-top: 20px;
}

#button-wrapper{
    display: flex;
}

#button-wrapper > div{
    border: 1px solid black;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
}

.review-box{
    max-height: 200px;
    background: #242424;
    padding: 20px;
    overflow: scroll;
    border-radius: 5px;
}

.review-item{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    background-color: #404040;
}

.review-item > p:first-child{
    display: flex;
    align-items: center;
}