#aboutWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: black;
  z-index: 3;
  overflow: hidden;
}

#developerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;
  margin-top: 20px;
}

.developerDiv {
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictureDiv {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}
.nameDiv {
  text-align: center;
  font-family: mukta;
}

#titleDiv > h1 {
  text-align: center;
  font-family: mukta;
  margin: 5px;
}

#titleDiv {
  margin-top: 80px;
}

#infoAboutBox > p {
  text-align: center;
  margin: 30px 20px;
  font-family: mukta;
  line-height: 22px;
}
