body {
  margin: 0px;
}

.logIn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Nunito Sans, sans-serif;
  padding-top: 1vh;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > input {
  letter-spacing: 0.125em;
  height: 48px;
  border: rgb(136, 136, 136) solid 1px;
  border-radius: 5px;
  width: 89vw;
  padding-left: 2vw;
  font-family: Nunito Sans, sans-serif;
  font-size: 15px;
  background: rgb(77, 77, 77);
  color: #fff;
}

.input > label {
  margin: 0px 0px 5px 3px;
}

.logIn > button {
  margin-top: 30px;
  height: 50px;
  border: 1px solid #333;
  width: 91vw;
  border-radius: 5px;
  font-family: Nunito Sans, sans-serif;
  font-weight: bold;
  background-color: rgb(136, 136, 136);
  font-size: 15px;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.logIn > div:last-child {
  color: #fff;
  font-weight: bold;
  position: relative;
  bottom: 10px;
}

.errorDiv {
  color: #1e608f;
}

.logSignInTitle{
  font-weight: 500;
  margin-top: 5vh;
}

/* activeButton background-color: rgb(96, 96, 96); 
button styling 
border: 1px solid #525050;
border-radius: 5px;
padding: 10px;
margin: 5px;  */