body{
    margin: 0px;
}

.logIn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    color: black;
}

.input{
    display: flex;
    flex-direction: column;
}

.input > input {
    letter-spacing: 0.125em;
}